.forgot-password-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: auto !important;
  padding: 20px;
  background-color: #f9f9f9;
  box-sizing: border-box;
}

.forgot-password-box {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 500px; /* Ограничение максимальной ширины блока */
  width: 100%; /* Блок занимает всю доступную ширину */
  box-sizing: border-box;
}

h1 {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px; /* Ограничиваем максимальную ширину формы */
  box-sizing: border-box;
}

label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 16px;
  margin-bottom: 10px;
  width: 100%;
}

input {
  padding: 10px;
  width: 100%;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: var(--button-color); /* Основной цвет кнопок */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  max-width: 300px; /* Ограничиваем максимальную ширину кнопок */
}

button[disabled] {
  background-color: #cccccc;
}

button:not([disabled]):hover {
  background-color: var(--button-hover-color); /* Цвет при наведении */
}

.error {
  color: red;
  margin-bottom: 10px;
}
